.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 25px;
}
.category_filter{
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* margin-top: 30px; */
}
.labels{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.label{
    display: flex;
    gap: 10px;
}


.right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sort_btn{
    border:none;
    display: block;
    background: none;
    text-align: left;
    /* margin-top: 30px; */

}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

@media (max-width: 1200px){
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }
    .labels{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .category_filter{
        flex-direction: row;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        width: 480px;
    }
}

@media (max-width: 720px){
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        width: 200px;
    }
}